:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --hero-text-color: #FFFFFF;
    --hero-bcg-color: #2F303A;
    --team-bcg-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: var(--primary-text-color);
}

/* primary text color: #212121; */
/* secondary text color: #757575; */
/* hero text color: #FFFFFF; */

/* primary bcg color: E5E5E5 */
/* team bcg color: #F5F4FA; */
/* bcg of header: #FFFFFF; */
/* bcg of hero and footer: #2F303A; */

/* header: */
    /* logo */
.logo-header,
.logo-web,
.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
}

.logo-web {
    color: #2196F3;
}

.logo-footer {
    color: #FFFFFF;
}

    /* navigation */
.navigation,
.contacts {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.contacts {   
    color: #757575;
}

/* hero */
.hero,
.footer {
    background-color: var(--hero-bcg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* section */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

/* team  */
.section-team {
    background-color: var(--team-bcg-color);
}