:root {
    /* text colors */
    --primary-text-color: #757575;
    --logo-web-text-color: #2196F3;
    --logo-header-text-color: #000000;
    --logo-footer-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --title-text-color: #212121;
    --location-text-color: #FFFFFF;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --filter-accent-color: #FFFFFF;;

    /* background colors */
    --primary-bcg-color: #FFFFFF;
    --hero-bcg-color: #2F303A;
    --hero-button-color: #2196F3;
    --hero-button-accent-color: #188CE8;
    --team-bcg-color: #F5F4FA;
    --team-members-bcg-color: #FFFFFF;
    --portfolio-filter-bcg-color: #F5F4FA;
    --portfolio-filter-accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primary-bcg-color);
    color: var(--primary-text-color);
}

/* primary text color: #757575; */
/* secondary text color: #212121; */
/* hero text color: #FFFFFF; */

/* primary bcg color: E5E5E5 */
/* team bcg color: #F5F4FA; */
/* bcg of header: #FFFFFF; */
/* bcg of hero and footer: #2F303A; */

/* Page WebStudio */
/* header: */
    /* logo */
.logo-web,
.logo-header,
.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--logo-web-text-color);
}

.logo-header {
    color: var(--logo-header-text-color);
}

.logo-header:hover,
.logo-header:focus {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--logo-footer-text-color);
}

.logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-color);
}

    /* navigation */
.navigation,
.contacts {
    list-style: none;
}

.nav-link,
.mail-link,
.tel-link {
    text-decoration: none;
}

.nav-link,
.contacts .mail-link,
.contacts .tel-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.current,
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.contacts .mail-link,
.contacts .tel-link {   
    color: var(--primary-text-color);
}

.contacts .mail-link:hover,
.contacts .mail-link:focus,
.contacts .tel-link:hover,
.contacts .tel-link:focus,
.address .mail-link:hover,
.address .mail-link:focus,
.address .tel-link:hover,
.address .tel-link:focus {
    color: var(--accent-color);
}

/* hero */
.hero,
.footer {
    background-color: var(--hero-bcg-color);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    background-color: var(--hero-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--hero-button-accent-color);
}

/* advantages */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-items {
    list-style: none;
}

.advantage-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantage-text {
    line-height: 1.714;
}

/* activities */
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

/* team */
.section-team {
    background-color: var(--team-bcg-color);
}

.team {
    list-style: none;
}

.team-member {
    background: var(--team-members-bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}

.team-member-function {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* footer */
.address {
    list-style: none;
}

.location-link,
.address .mail-link,
.address .tel-link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
    color: var(--location-text-color);
}

.address .mail-link,
.address .tel-link {
    color: var(--address-text-color);
}


/* Page Portfolio */
/* filter */
.portfolio-filter {
    list-style: none;
}

.filter-title {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--portfolio-filter-bcg-color);
    border-radius: 4px;
}

.filter-title.active {
    color: var(--filter-accent-color);
    background: var(--portfolio-filter-accent-color);
}

.filter-title:hover,
.filter-title:focus {
    color: var(--filter-accent-color);
    background: var(--portfolio-filter-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio works */
.portfolio-works {
    list-style: none;
}

.portfolio-link {
    list-style: normal;
    text-decoration: none;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-form {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}